# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

.metals

.idea
01-hello-world/target
01-hello-world/project/project
01-hello-world/project/target
01-hello-world/logs
02-forum/target
02-forum/project/project
02-forum/project/target
02-forum/logs
03-forum-db/target
03-forum-db/project/project
03-forum-db/project/target
03-forum-db/logs
03-forum-db/*.db
04-forum-json/target
04-forum-json/project/project
04-forum-json/project/target
04-forum-json/logs
04-forum-json/*.db
05-mojipic-1/target
05-mojipic-1/project/project
05-mojipic-1/project/target
05-mojipic-1/logs
05-mojipic-1/*.db
05-mojipic-1/.idea